@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Pixelify+Sans&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    background:#041562;
    }


.titulo {
    font-family: 'Pixelify Sans', cursive;
    color: rgb(255, 255, 255);
    font-size: 32px;
}

.subtitulo{
    color: rgb(255, 255, 255); 
    font-size: 20px;

}

#Selecionar-Mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       
}
.tarjetas, .botones{
    display: flex;
    gap: 10px;

}

.terjeta-de-mokepon{
    width: 180px;
    height: 180px;
    background: #11468F;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 10px;
    border-radius: 30px ;
    border: 3px solid red;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;

   }
   .terjeta-de-mokepon img {
    width: 80px;
   }

   #Boton-mascota{
    width: 180px;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
   }

   input {
    display: none;
   }

   input:checked + label{
    background-color: #5D8BF4;
   }

   #Selecionar-ataque{
    flex-direction: column;
    align-items: center;
   }
   
   .boton-Ataque {
    background: #35A29F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px ;
    border: 3px solid red;
    color: white;
    width: 80px;
    font-family: 'Montserrat', sans-serif;

   }

   #Mensaje{
    width: 280px;
    margin-top: 20px;
    background: #eeeeee;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
   }

   #boton-reiniciar {
    border: none;
    color: #fde9be;
   }

   .ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    display: flex;
    justify-content: center;
   }

   .ataques-Jugador, .ataques-Enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    margin-right: 50px;

   }

#ver-mapa button{
    
    width: 80px;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 10PX,0;
        
       
}

 #ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

   @media (max-width: 560px){
        .tarjetas, .botones {
            flex-direction: column ;
        }
   }
   @media (max-width: 300px){
    #ver-mapa div {
        display: flex;
        align-items: center;
        flex-direction: column ;
    }
}

